<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Book</title>
</head>

<body>
    <h1>Book Information</h1>
    <form action="#" th:action="@{/addBook}" th:object="${book}" enctype="multipart/form-data" method="post">
        <p><label for="title">Title: <input type="text" th:field="*{title}" id="title" /></label></p>
        <p><label for="author">Author: <input type="text" th:field="*{author}" id="author" /></label></p>
        <!-- <p><label for="cover">Cover: <input type="file" name="file" id="cover" accept="image/png, image/jpeg"></label>
        </p> -->
        <p>Cover: <input type="text" th:field="*{cover}" /></p>
        <p><input type="submit" value="Save" /></p>
    </form>
</body>

</html>