<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        a:link {
            text-decoration: none;
        }
    </style>
    <title>Search Results</title>
</head>

<body>
    <h1>Search Results</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Author</th>
                <th>Cover</th>
            </tr>
        </thead>
        <tbody>
            <!-- each statement is on the table row because that's what we're repeating -->
            <tr th:each="book: ${bookPage.content}">
                <td th:text="${book.id}" />
                <td th:text="${book.title}" />
                <td th:text="${book.author}" />
                <td><img th:src="${book.cover}" width="50"></td>
            </tr>
        </tbody>
    </table>
    <a th:href="@{/searchResults(titleSearch=${titleSearch}, authorSearch=${authorSearch},
    field=title, alphabetical=true,
    size=${bookPage.size}, page=${bookPage.number})}">
        <button>Sort title A-Z</button>
    </a>
    <a th:href="@{/searchResults(titleSearch=${titleSearch}, authorSearch=${authorSearch},
    field=title, alphabetical=false,
    size=${bookPage.size}, page=${bookPage.number})}">
        <button>Sort title Z-A</button>
    </a>
    <a th:href="@{/searchResults(titleSearch=${titleSearch}, authorSearch=${authorSearch},
    field=author, alphabetical=true,
    size=${bookPage.size}, page=${bookPage.number})}">
        <button>Sort author A-Z</button>
    </a>
    <a th:href="@{/searchResults(titleSearch=${titleSearch}, authorSearch=${authorSearch},
    field=author, alphabetical=false,
    size=${bookPage.size}, page=${bookPage.number})}">
        <button>Sort author Z-A</button>
    </a>
    <form action="/searchResults" method="get">
        <input type="hidden" name="titleSearch" th:value="${titleSearch}">
        <input type="hidden" name="authorSearch" th:value="${authorSearch}">
        <input type="hidden" name="field" th:value="${field}">
        <input type="hidden" name="alphabetical" th:value="${alphabetical}">
        <input type="hidden" name="page" th:value="${bookPage.number}">

        <p>Page size:
            <select name="size" id="size" onchange="this.form.submit()">
                <option value="" selected="selected">--</option>
                <option value="3">3</option>
                <option value="5">5</option>
                <option value="10">10</option>
            </select>
        </p>
    </form>
    <div th:if="${bookPage.totalPages > 0}" class="pagination" th:each="pageNumber: ${pageNumbers}">
        <a th:href="@{/searchResults(titleSearch=${titleSearch}, authorSearch=${authorSearch},
        field=${field}, alphabetical=${alphabetical},
        size=${bookPage.size}, page=${pageNumber}-1)}" th:text="${pageNumber}"
            th:class="${pageNumber==bookPage.number+1} ? active"></a>
    </div>
</body>

</html>